<form action="#" method="post" name="choose">
  <div class="header">
     <p class="msg">You can..</p>
  </div>
  <div class="description">
    
  </div>
  <div class="input">
    <button routerLink="/login" type="submit" class="button submit"  ><a routerLink="/login">Login</a></button>
    <button routerLink="/register" type="submit" class="button submit"  ><a routerLink="/login">Register</a></button>
    <button routerLink="/home" type="submit" class="button submit"  ><a routerLink="/login">Show users</a></button>

  </div>
</form>
<router-outlet></router-outlet>