<div class="login-form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>Register</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" formControlName="username" placeholder="Username" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" formControlName="password" placeholder="Password" autocomplete="nope">
      </div>
    </div>
    <div class="action">

      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
  </form>
</div>
<div align="center" class="row message" *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
      <strong>Error</strong> {{msg}}

    </p>
  </div>
</div>